.git
.github
.idea
.vs
.next
node_modules
coverage
test-results
tests
e2e
docs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env.local
.env.production
.env*.local
docker-compose.yml
public/uploads/listings
public/uploads/ids
*.tsbuildinfo
