# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
.env
.env.local
.env.production
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/public/uploads/listings
/public/uploads/ids
/.vs
/tmp
/dist
/playwright-report
/test-results
/public/weggo-logo-org.png
#models i believe
chatbot/__pycache__/app.cpython-312.pyc
lancedb/__pycache__/app.cpython-312.pyc
lancedb/semantic-lancedb-qwen3-emb/
__pycache__/
